

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}


html, body {
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
}


.page-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* 💡 visible en pantalla completa */
    background-image: url('portada.jpg');
    background-size: cover; /* o contain, según prefieras */
    background-position: center top;
    background-repeat: no-repeat;
    filter: brightness(20%);
    z-index: 0;
}



.page-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 83vh; /* ajusta a la altura visible del viewport */
}


.hero-content {
    flex-shrink: 0;

    padding: 40px;
    border-radius: 12px;

}


.progress-wrapper {
    position: relative;
    width: 400px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    overflow : hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}

.progress-bar {
    height: 100%;
    width: 75%;
    /*background: linear-gradient(90deg, #ff5f6d, #ffc371);*/
    background-color: #ffffff;
    border-radius: 12px 0 0 12px;
    transition: width 0.8s ease;
}

.progress-text {
    color: white;
    top: -25px;
    right: 0;
    font-family: "Anton", sans-serif;
    font-style: normal;
    font-size: 10vw;
    margin-bottom: 30px;
}

.social-buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.social-btn img {
    width: 30px;
    height: 30px;
}

.social-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s ease;
}

.site-footer {
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: "Titillium Web", sans-serif; /* 💡 esta línea empuja el footer justo debajo de la imagen */
}

.footer-content {
    position: relative;
    z-index: 2;
    bottom: 0;
}

.footer-text {
    margin: 0;
    font-size: 14px;
    font-family: Anton, sans-serif;
}

@media (max-width: 768px) {
    .hero-bg {
        background-image: url('portadaMoviles.jpg');
    }

    .progress-wrapper {
        width: 300px; /* se adapta al ancho de la pantalla */
        height: 10px;
    }

    .social-btn {
        width: 2vw;
        height: 2vw;
    }

    .hero-content {
        padding: 20px; /* menos padding en móviles */
    }
}


